# Compiled Object files
*.slo
*.lo
*.o
.DS_Store
*.xcuserstate

# Compiled Dynamic libraries

# Compiled Static libraries
*.lai
*.la
*.o.d

*.idb
*.lib
*.log
*.map
*.ncb
*.pdb
*.pyc
*.user
*.dblite
*.lock
.sconsign.dblite
#*#
*~
.cpplint-cache
.d8_history
d8
d8_g
shell
shell_g
/build/Debug
/build/gyp
/build/Release
/obj
/out
/Pods
/xcodebuild
TAGS
*.Makefile
GTAGS
GRTAGS
GSYMS
GPATH
_*
.metadata
*.os
*.o
*.obj
*.log
*.tlog
*.ipch
*.idb
*.pdb
*.sdf
*.opensdf
*.stackdump
*.so
*.dylib
*.dylib.dSYM*
-2
bin
*.apk
debugging
*.out
*.vpp~*
*.lib
*.dll
*.exe
*.lik
*.ilk
*.sdf

# Exclude the build directory
build/*
# Exclude temp nibs and swap files
*~.nib
*.swp
# Exclude OS X folder attributes
.DS_Store
# Exclude user-specific XCode 3 and 4 files
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

proj.android/assets/
proj.android/obj/
proj.android/bin/

org.eclipse.core.resources.prefs
